In [1]:
!head SimLex-999.txt

word1	word2	POS	SimLex999	conc(w1)	conc(w2)	concQ	Assoc(USF)	SimAssoc333	SD(SimLex)
old	new	A	1.58	2.72	2.81	2	7.25	1	0.41
smart	intelligent	A	9.2	1.75	2.46	1	7.11	1	0.67
hard	difficult	A	8.77	3.76	2.21	2	5.94	1	1.19
happy	cheerful	A	9.55	2.56	2.34	1	5.85	1	2.18
hard	easy	A	0.95	3.76	2.07	2	5.82	1	0.93
fast	rapid	A	8.75	3.32	3.07	2	5.66	1	1.68
happy	glad	A	9.17	2.56	2.36	1	5.49	1	1.59
short	long	A	1.23	3.61	3.18	2	5.36	1	1.58
stupid	dumb	A	9.58	1.75	2.36	1	5.26	1	1.48

In [2]:
import pandas as pd

In [15]:
df_simlex = pd.read_csv('SimLex-999.txt', sep='\t')

In [16]:
df_simlex.head(3)

,word1,word2,POS,SimLex999,conc(w1),conc(w2),concQ,Assoc(USF),SimAssoc333,SD(SimLex)
0,old,new,A,1.58,2.72,2.81,2,7.25,1,0.41
1,smart,intelligent,A,9.20,1.75,2.46,1,7.11,1,0.67
2,hard,difficult,A,8.77,3.76,2.21,2,5.94,1,1.19

In [17]:
df_simlex.describe(include='float')

        SimLex999    conc(w1)    conc(w2)  Assoc(USF)  SD(SimLex)
count  999.000000  999.000000  999.000000  999.000000  999.000000
mean     4.561572    3.657087    3.568629    0.751512    1.274505
std      2.614663    1.131050    1.159572    1.344569    0.366278
min      0.230000    1.190000    1.190000    0.000000    0.340000
25%      2.380000    2.620000    2.500000    0.140000    1.075000
50%      4.670000    3.830000    3.660000    0.250000    1.310000
75%      6.750000    4.790000    4.750000    0.680000    1.540000
max      9.800000    5.000000    5.000000    8.850000    2.180000

In [11]:
df_simlex.columns

Index(['word1', 'word2', 'POS', 'SimLex999', 'conc(w1)', 'conc(w2)', 'concQ',
       'Assoc(USF)', 'SimAssoc333', 'SD(SimLex)'],
      dtype='object')

In [18]:
df_simlex.query('SimLex999 > 9.0').head(10)

,word1,word2,POS,SimLex999,conc(w1),conc(w2),concQ,Assoc(USF),SimAssoc333,SD(SimLex)
1,smart,intelligent,A,9.20,1.75,2.46,1,7.11,1,0.67
3,happy,cheerful,A,9.55,2.56,2.34,1,5.85,1,2.18
6,happy,glad,A,9.17,2.56,2.36,1,5.49,1,1.59
8,stupid,dumb,A,9.58,1.75,2.36,1,5.26,1,1.48
16,insane,crazy,A,9.57,1.77,2.37,1,2.09,1,0.92
18,large,huge,A,9.47,3.37,3.54,2,2.00,1,1.27
22,quick,rapid,A,9.70,2.89,3.07,2,1.38,1,1.14
25,strange,odd,A,9.02,1.86,1.70,1,1.16,1,1.04
28,simple,easy,A,9.40,1.62,2.07,1,0.96,1,1.51
34,weird,odd,A,9.20,1.59,1.70,1,0.75,1,1.27

In [19]:
df_simlex[lambda df: df['word1'] == 'large']

,word1,word2,POS,SimLex999,conc(w1),conc(w2),concQ,Assoc(USF),SimAssoc333,SD(SimLex)
18,large,huge,A,9.47,3.37,3.54,2,2.00,1,1.27
42,large,big,A,9.55,3.37,3.66,2,0.68,1,0.44
109,large,flexible,A,0.48,3.37,2.64,2,0.00,0,1.59

In [20]:
df_simlex.POS.value_counts()

POS
N    666
V    222
A    111
Name: count, dtype: int64